<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adeleye Jamiu</title>
  </head>
  <body>
    <header class="header" id="header">
      <div class="toggler">
        <div class="first-bar"></div>
        <div class="mid-bar"></div>
        <div class="last-bar"></div>
      </div>
      <nav class="nav-bar">
        <ul class="nav-list">
          <li class="nav-item mtb-2">
            <a href="#header" class="nav-link p-1">Home</a>
          </li>
          <li class="nav-item mtb-2">
            <a href="#about" class="nav-link p-1">About</a>
          </li>
          <li class="nav-item mtb-2">
            <a href="#services" class="nav-link p-1">Skills</a>
          </li>
          <li class="nav-item mtb-2">
            <a href="#projects" class="nav-link p-1">Projects</a>
          </li>
          <li class="nav-item mtb-2">
            <a href="#contact" class="nav-link p-1">Contact</a>
          </li>
        </ul>
      </nav>
      <section class="introduction">
        <div class="my-img profile-img">
          <img src="../assets/images/jamo.JPG" alt="Adeleye Jamiu" />
        </div>
        <div class="intro">
          <h2 class="">Adeleye Jamiu</h2>
          <h4>Full Stack Web Developer</h4>
          <button type="button" class="resume-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Resume
          </button>
        </div>
      </section>
    </header>
  </body>
</html>
